@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;700;800&display=swap");
/* @mixin transicao ($direcao, $deslocamento) {
    .transicao {
        //transition-property: opacity;
        //transition-timing-function: ease-in-out;
        //transition-duration: 2s;
        opacity: 0;
	    position: relative;
        @if $direcao == 'left' {
            left: $deslocamento;
        }
        @if $direcao == 'right' {
            right: $deslocamento;
        }
        @if $direcao == 'top' {
            top: $deslocamento;
        }
        @if $direcao == 'bottom' {
            bottom: $deslocamento;
        }
	    //top: -50px;
	    transition: $direcao 1s ease-in-out, opacity 1s ease-in-out;

    }

    .transicao.ativo {
        opacity: 1;
        //top: 0px;
        @if $direcao == 'left' {
            left: $deslocamento;
        }
        @if $direcao == 'right' {
            right: $deslocamento;
        }
        @if $direcao == 'top' {
            top: $deslocamento;
        }
        @if $direcao == 'bottom' {
            bottom: $deslocamento;
        }

    }

} */
body {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%; }
  body header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: #111111;
    padding: 0.5rem 0 0.5rem 0; }
    body header img {
      width: 5rem;
      margin-left: 4rem; }
    body header .menu {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      margin-right: 4rem; }
      body header .menu .lista-menu {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between; }
        body header .menu .lista-menu .item-menu__ativo {
          list-style: none;
          cursor: pointer;
          margin-left: 2rem;
          font-size: 1rem;
          font-weight: 400;
          color: #5e5e5e;
          font-family: "Plus Jakarta Sans", sans-serif; }
        body header .menu .lista-menu .item-menu {
          list-style: none;
          margin-left: 2rem; }
          body header .menu .lista-menu .item-menu :hover {
            color: #5e5e5e; }
          body header .menu .lista-menu .item-menu a {
            text-decoration: none;
            font-size: 1rem;
            font-weight: 400;
            color: #ffffff;
            font-family: "Plus Jakarta Sans", sans-serif; }
            body header .menu .lista-menu .item-menu a :hover {
              color: #333333; }
  body .transicao {
    opacity: 0;
    position: relative;
    top: -50px;
    transition: top 1s ease-in-out, opacity 1s ease-in-out; }
  body .transicao.ativo {
    opacity: 1;
    top: 0px; }
  body .apresentacao {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%; }
    body .apresentacao .geral {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      width: 100%;
      margin: 4rem 0 0 0; }
      body .apresentacao .geral .geral__texto {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-around;
        width: 45%; }
        body .apresentacao .geral .geral__texto .geral__texto__titulo {
          font-size: 5rem;
          font-weight: 800;
          color: #333333;
          font-family: "Plus Jakarta Sans", sans-serif;
          margin: 0 0 0.5rem 0; }
        body .apresentacao .geral .geral__texto .geral__texto__subtitulo {
          font-size: 1.5rem;
          font-weight: 400;
          color: #333333;
          font-family: "Plus Jakarta Sans", sans-serif;
          margin: 0 0 0.5rem 0;
          line-height: 25px; }
        body .apresentacao .geral .geral__texto .geral__texto__conteudo {
          font-size: 1rem;
          font-weight: 400;
          color: #333333;
          font-family: "Plus Jakarta Sans", sans-serif;
          line-height: 25px; }
      body .apresentacao .geral .transicao-esquerda {
        opacity: 0;
        position: relative;
        left: -50px;
        transition: left 1s ease-in-out, opacity 1s ease-in-out; }
      body .apresentacao .geral .transicao-esquerda.ativo-esquerda {
        opacity: 1;
        left: 0px; }
      body .apresentacao .geral .geral__img {
        width: 45%;
        margin: 0 0 0 2rem; }
        body .apresentacao .geral .geral__img img {
          width: 100%; }
      body .apresentacao .geral .transicao-direita {
        opacity: 0;
        position: relative;
        right: -50px;
        transition: right 1s ease-in-out, opacity 1s ease-in-out; }
      body .apresentacao .geral .transicao-direita.ativo-direita {
        opacity: 1;
        right: 0px; }
  body form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%; }
    body form div {
      display: flex;
      flex-direction: column;
      width: 40%; }
      body form div .titulo {
        font-size: 3rem;
        font-weight: 400;
        color: #111111;
        font-family: "Plus Jakarta Sans", sans-serif;
        margin: 0 0 1.5rem 0; }
      body form div label {
        font-size: 1.2rem;
        font-weight: 400;
        color: #111111;
        font-family: "Plus Jakarta Sans", sans-serif;
        margin: 0rem 0 1rem 0; }
      body form div .mensagem {
        margin-top: 4rem; }
      body form div input {
        width: 100%;
        height: 2.5rem;
        border-radius: 5px;
        border-width: thin;
        margin: 0 0 1rem 0;
        border-color: #757575;
        font-size: 1rem;
        font-family: "Plus Jakarta Sans", sans-serif;
        color: #5e5e5e;
        padding: 0 0.8rem 0 0.8rem; }
      body form div textarea {
        width: 100%;
        height: 9rem;
        border-radius: 5px;
        border-width: thin;
        margin: 0 0 1rem 0;
        border-color: #757575;
        font-size: 1rem;
        font-family: "Plus Jakarta Sans", sans-serif;
        color: #5e5e5e;
        padding: 0 0.8rem 0 0.8rem; }
  body .container {
    display: flex;
    width: 95%;
    justify-content: flex-end; }
    body .container button {
      width: 9rem;
      height: 3rem;
      color: #ffffff;
      background-color: #333333;
      font-size: 1rem;
      border-radius: 5px;
      font-family: "Plus Jakarta Sans", sans-serif;
      font-weight: 600; }
  body footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 5rem;
    background-color: #ffffff;
    box-shadow: 0 -5px 0 -2px rgba(0, 0, 0, 0.1); }
    body footer .assinatura {
      font-size: 0.8rem;
      font-weight: 400;
      color: #757575;
      font-family: "Plus Jakarta Sans", sans-serif;
      word-spacing: 2px; }
    body footer .contato {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      width: 30rem; }
      body footer .contato .item-contato {
        list-style: none; }
        body footer .contato .item-contato :hover {
          color: #5e5e5e; }
        body footer .contato .item-contato a {
          text-decoration: none;
          font-size: 0.8rem;
          font-weight: 400;
          color: #333333;
          font-family: "Plus Jakarta Sans", sans-serif; }

/*# sourceMappingURL=contato.css.map */
