@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;700;800&display=swap");
/* @mixin transicao ($direcao, $deslocamento) {
    .transicao {
        //transition-property: opacity;
        //transition-timing-function: ease-in-out;
        //transition-duration: 2s;
        opacity: 0;
	    position: relative;
        @if $direcao == 'left' {
            left: $deslocamento;
        }
        @if $direcao == 'right' {
            right: $deslocamento;
        }
        @if $direcao == 'top' {
            top: $deslocamento;
        }
        @if $direcao == 'bottom' {
            bottom: $deslocamento;
        }
	    //top: -50px;
	    transition: $direcao 1s ease-in-out, opacity 1s ease-in-out;

    }

    .transicao.ativo {
        opacity: 1;
        //top: 0px;
        @if $direcao == 'left' {
            left: $deslocamento;
        }
        @if $direcao == 'right' {
            right: $deslocamento;
        }
        @if $direcao == 'top' {
            top: $deslocamento;
        }
        @if $direcao == 'bottom' {
            bottom: $deslocamento;
        }

    }

} */
body {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%; }
  body header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: #111111;
    padding: 0.5rem 0 0.5rem 0; }
    body header img {
      width: 5rem;
      margin-left: 4rem; }
    body header .menu {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      margin-right: 4rem; }
      body header .menu .lista-menu {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between; }
        body header .menu .lista-menu .item-menu {
          list-style: none;
          margin-left: 2rem; }
          body header .menu .lista-menu .item-menu :hover {
            color: #5e5e5e; }
          body header .menu .lista-menu .item-menu a {
            text-decoration: none;
            font-size: 1rem;
            font-weight: 400;
            color: #ffffff;
            font-family: "Plus Jakarta Sans", sans-serif; }
            body header .menu .lista-menu .item-menu a :hover {
              color: #333333; }
  body .transicao {
    opacity: 0;
    position: relative;
    top: -50px;
    transition: top 1s ease-in-out, opacity 1s ease-in-out; }
  body .transicao.ativo {
    opacity: 1;
    top: 0px; }
  body .destaques {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%; }
    body .destaques .divisoria {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      width: 100%; }
      body .destaques .divisoria hr {
        border-top: 0.1px solid #EEEEEE;
        width: 25rem; }
      body .destaques .divisoria .divisoria__texto {
        font-size: 0.8rem;
        font-weight: 800;
        color: #757575;
        font-family: "Plus Jakarta Sans", sans-serif;
        word-spacing: 5px;
        color: #757575;
        width: 15rem;
        text-align: center; }
    body .destaques .cards {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      width: 85%;
      margin: 1rem 0 3rem 0; }
      body .destaques .cards .card {
        width: 20rem;
        height: 15rem;
        background: #FFF;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.25); }
        body .destaques .cards .card .card-img {
          width: 100%; }
        body .destaques .cards .card .card-titulo {
          font-size: 1rem;
          font-weight: 400;
          color: #333333;
          font-family: "Plus Jakarta Sans", sans-serif;
          margin: 0.5rem 0.5rem 0.5rem 0.5rem; }
        body .destaques .cards .card .card-descricao {
          font-size: 0.8rem;
          font-weight: 400;
          color: #333333;
          font-family: "Plus Jakarta Sans", sans-serif;
          margin: 0 0.5rem 0.5rem 0.5rem;
          line-height: 1rem; }
      body .destaques .cards .card:hover {
        cursor: pointer;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.35); }
  body footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 5rem;
    background-color: #ffffff;
    box-shadow: 0 -5px 0 -2px rgba(0, 0, 0, 0.1); }
    body footer .assinatura {
      font-size: 0.8rem;
      font-weight: 400;
      color: #757575;
      font-family: "Plus Jakarta Sans", sans-serif;
      word-spacing: 2px; }
    body footer .contato {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      width: 30rem; }
      body footer .contato .item-contato {
        list-style: none; }
        body footer .contato .item-contato :hover {
          color: #5e5e5e; }
        body footer .contato .item-contato a {
          text-decoration: none;
          font-size: 0.8rem;
          font-weight: 400;
          color: #333333;
          font-family: "Plus Jakarta Sans", sans-serif; }

/*# sourceMappingURL=index.css.map */
