@import 'variaveis';
@import 'mixins';

body {
    background-color: $cor-secundaria;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;

    header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        background-color: $cor-principal;
        padding: 0.5rem 0 0.5rem 0;

        img {
            width: 5rem;
            margin-left: 4rem;
        }

        .menu {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            margin-right: 4rem;

            .lista-menu {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;

                .item-menu__ativo {
                    list-style: none;
                    cursor: pointer;
                    margin-left: 2rem;
                    @include texto-normal ($fonte-pequena, $cor-hover);

                }



                .item-menu {
                    list-style: none;
                    margin-left: 2rem;



                    :hover {
                        color: $cor-hover;
                    }


                    a {
                        text-decoration: none;
                        @include texto-normal ($fonte-pequena, $cor-secundaria);

                        :hover {
                            color: $cor-texto;
                        }

                    }

                }

            }
        }
    }

    .transicao {
        //transition-property: opacity;
        //transition-timing-function: ease-in-out;
        //transition-duration: 2s;
        opacity: 0;
	    position: relative;
	    top: -50px;
	    transition: top 1s ease-in-out, opacity 1s ease-in-out;

    }

    .transicao.ativo {
        opacity: 1;
	    top: 0px;

    }


    .apresentacao {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 90%;

        .geral {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
            width: 100%;
            margin: 4rem 0 0 0;

            .geral__texto {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: space-around;
                width: 45%;

                .geral__texto__titulo {
                    @include texto-destaque ($fonte-gigante, $cor-texto);
                    margin: 0 0 0.5rem 0;
                }

                .geral__texto__subtitulo {
                    @include texto-normal ($fonte-media, $cor-texto);
                    margin: 0 0 0.5rem 0;
                    line-height: 25px;
                }

                .geral__texto__conteudo {
                    @include texto-normal ($fonte-pequena, $cor-texto);
                    line-height: 25px;
                }
            }

            .transicao-esquerda {
                //transition-property: opacity;
                //transition-timing-function: ease-in-out;
                //transition-duration: 2s;
                opacity: 0;
                position: relative;
                left: -50px;
                transition: left 1s ease-in-out, opacity 1s ease-in-out;
        
            }
        
            .transicao-esquerda.ativo-esquerda {
                opacity: 1;
                left: 0px;
        
            }

            .geral__img {
                width: 45%;
                margin: 0 0 0 2rem;

                img {
                    width: 100%;
                }
            }

            .transicao-direita {
                //transition-property: opacity;
                //transition-timing-function: ease-in-out;
                //transition-duration: 2s;
                opacity: 0;
                position: relative;
                right: -50px;
                transition: right 1s ease-in-out, opacity 1s ease-in-out;
        
            }
        
            .transicao-direita.ativo-direita {
                opacity: 1;
                right: 0px;
        
            }
        }
    }

    form {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        width: 100%;

        div {
            display: flex;
            flex-direction: column;
            width: 40%;

            .titulo {
                @include texto-normal ($fonte-grande, $cor-principal);
                margin: 0 0 1.5rem 0;
            }

            label {
                @include texto-normal ($fonte-pequena + 0.2rem, $cor-principal);
                margin: 0rem 0 1rem 0;
                
            }

            .mensagem {
                margin-top: 4rem;
            }

            input {
                width: 100%;
                height: 2.5rem;
                border-radius: 5px;
                border-width: thin;
                margin: 0 0 1rem 0;
                border-color: $cor-input;
                font-size: $fonte-pequena;
                font-family: $fonte-principal;
                color: $cor-input-texto;
                padding: 0 0.8rem 0 0.8rem;

            }

            textarea {
                width: 100%;
                height: 9rem;
                border-radius: 5px;
                border-width: thin;
                margin: 0 0 1rem 0;
                border-color: $cor-input;
                font-size: $fonte-pequena;
                font-family: $fonte-principal;
                color: $cor-input-texto;
                padding: 0 0.8rem 0 0.8rem;
            }

            buttom {
                margin-top: 1rem;
            }
        }
    }

    footer {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        width: 100%;
        height: 5rem;
        background-color: $cor-secundaria;
        box-shadow: 0 -5px 0 -2px rgba(0, 0, 0, 0.1);


        .assinatura {
            @include texto-normal ($fonte-extra-pequena, $cor-texto-destaques);
            word-spacing: 2px;
        }

        .contato {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            width: 30rem;

            .item-contato {
                list-style: none;

                :hover {
                    color: $cor-hover;
                }

                a {
                    text-decoration: none;
                    @include texto-normal ($fonte-extra-pequena, $cor-texto);
                }
            }
        }

    }
}
