@import 'variaveis';
@import 'mixins';

body {
    background-color: $cor-secundaria;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;

    header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        background-color: $cor-principal;
        padding: 0.5rem 0 0.5rem 0;

        img {
            width: 5rem;
            margin-left: 4rem;
        }

        .menu {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            margin-right: 4rem;
            
            .lista-menu {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;

                .item-menu__ativo {
                    list-style: none;
                    cursor: pointer;
                    margin-left: 2rem;
                    @include texto-normal ($fonte-pequena, $cor-hover);

                }

               
                
                .item-menu {
                    list-style: none;
                    margin-left: 2rem;

                   

                    :hover {
                        color: $cor-hover;
                    }
                    

                    a {
                        text-decoration: none;
                        @include texto-normal ($fonte-pequena, $cor-secundaria); 

                        :hover {
                            color: $cor-texto;
                        }

                    }

                }

            }
        }
    }

    .apresentacao {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 90%;

        .geral {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
            width: 100%;
            margin: 4rem 0 0 0;

            .geral__texto {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: space-around;
                width: 45%;

                .geral__texto__titulo {
                    @include texto-destaque ($fonte-gigante, $cor-texto);
                    margin: 0 0 0.5rem 0;
                }

                .geral__texto__subtitulo {
                    @include texto-normal ($fonte-media, $cor-texto);
                    margin: 0 0 0.5rem 0;
                    line-height: 25px;
                }

                .geral__texto__conteudo {
                    @include texto-normal ($fonte-pequena, $cor-texto);
                    line-height: 25px;
                }
            }

            .geral__img {
                width: 45%;
                margin: 0 0 0 2rem;

                img {
                    width: 100%;
                }
            }
        }

        .sobre-vinicius {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
            width: 100%;
            margin: 4rem 0 0 0;

            .sobre-vinicius__texto {
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                justify-content: space-around;
                width: 45%;

                .sobre-vinicius__texto__titulo {
                    @include texto-destaque ($fonte-grande, $cor-texto);
                    margin: 0 0 0.5rem 0;
                }

                .sobre-vinicius__texto__subtitulo {
                    @include texto-normal ($fonte-media, $cor-texto);
                    margin: 0 0 0.5rem 0;
                    line-height: 25px;
                }

                .sobre-vinicius__texto__conteudo {
                    @include texto-normal ($fonte-pequena, $cor-texto);
                    line-height: 25px;
                    text-align: end;
                }
            }

            .sobre-vinicius__img {
                width: 45%;
                margin: 0 2rem 0 0;

                img {
                    width: 100%;
                }
            
            }
        }

        .sobre-victor {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
            width: 100%;
            margin: 4rem 0 0 0;

            .sobre-victor__texto {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: space-around;
                width: 45%;

                .sobre-victor__texto__titulo {
                    @include texto-destaque ($fonte-grande, $cor-texto);
                    margin: 0 0 0.5rem 0;
                }

                .sobre-victor__texto__subtitulo {
                    @include texto-normal ($fonte-media, $cor-texto);
                    margin: 0 0 0.5rem 0;
                    line-height: 25px;
                }

                .sobre-victor__texto__conteudo {
                    @include texto-normal ($fonte-pequena, $cor-texto);
                    line-height: 25px;
                    //text-align: end;
                }
            }

            .sobre-victor__img {
                width: 45%;
                margin: 0 0 0 2rem;

                img {
                    width: 100%;
                }
            
            }
        }

        .servicos {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            margin: 4rem 0 0 0;

            .servicos__textos {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: center;
                width: 45%;

                .servicos__textos__titulo {
                    @include texto-destaque ($fonte-grande, $cor-texto);
                }
                
                .servicos__textos__lista {
                    @include texto-normal ($fonte-media, $cor-texto);
                    line-height: 35px;
                    margin: 2rem 0 0 0;
                }
            }

            .servicos__img {
                width: 45%;

                img {
                    width: 100%;
                }
            }
        }
    }

    footer {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        width: 100%;
        height: 5rem;
        background-color: $cor-secundaria;
        box-shadow: 0 -5px 0 -2px rgba(0, 0, 0, 0.1);


        .assinatura {
            @include texto-normal ($fonte-extra-pequena, $cor-texto-destaques);
            word-spacing: 2px;
        }

        .contato {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            width: 30rem;

            .item-contato {
                list-style: none;

                :hover {
                    color: $cor-hover;
                }

                a {
                    text-decoration: none;
                    @include texto-normal ($fonte-extra-pequena, $cor-texto);
                }
            }
        }

    }
}